/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*----------------------*/

body{
	padding: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.cap{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid #000;
	text-align: center;
	align-content: center;
	background: yellow;
}
.block{
	width: 25%;
	height: 50%;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
	box-shadow: 5px 5px 5px 5px grey;
	line-height: 24px;
	overflow: hidden;
	position: relative;
	top: 25%;
	left: 35%;
	background: url(../img/html.webp) 50% 50%/contain round;

}
.list{
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-weight: 700;
	border: 1px solid #000;
}
.list li{
	width: 200px;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
	text-shadow: 2px 2px grey;
	text-align: center;
	position: relative;
	top: 40px;
	left: 80px;
}
.list li:hover{
	text-shadow: 2px 2px yellow;
}
.list li::before{
	content: '';
	background-color: #000;
	position: relative;
	top: 0;
	left: 0;
}
.list li:hover::before{
	background-color: blue;
}
